body {
  background-color: #141414;
  color: white;
}

.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #e50914 !important;
}

.navbar-brand {
  font-weight: bold;
  color: #e50914 !important;
  font-size: 1.5rem;
}

.form-control {
  background-color: #333;
  border: none;
  color: white;
}

.form-control::placeholder {
  color: #aaa;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  margin: 0;
}

.btn-danger {
  background-color: #e50914;
  border: none;
}
